{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Eventos del Sur <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></h1>
    </div>
</div>
<br/>
<a class="btn btn-primary" href="/new">
    Crear evento
    <span style="margin-left: 5px;" class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
</a>
<br/>
<br/>

{% if events.count() > 0 %}
<div class="row">
	<div id="map"></div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table">
            <thead>
                <th>T&iacute;tulo</th>
                <th>Autor</th>
                <th>Fecha</th>
                <th>Acciones</th>
                </thead>
            <tbody>
            {% for event in events %}
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.author }}</td>
                <td>{{ event.date }}</td>
                <td>
                    <a class="btn btn-warning" href="/edit/{{ event.key().id() }}">Editar</a>
                    <a class="btn btn-warning" href="/view/{{ event.key().id() }}">Ver</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>
{% else %}
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 bg-warning warning_mesagge">
            <label>No existen eventos todav&iacute;a.</label>
        </div>
        <div class="col-md-3"></div>

    </div>
</div>

{% endif %}

<script type="text/javascript">
    window.onload = function() {
        if(!window.location.hash) {
            window.location = window.location + '#loaded';
            window.location.reload();
        }
        initMap();
    }

    function initMap() {
		var geocoder = new google.maps.Geocoder();
        var map;
        var marker;
        var location;
        
        // Create map and center in Spain
        geocoder.geocode( { 'address': 'España' }, function(results, status) {
            if (status == 'OK') {
                map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 5,
                    center: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });

        // Add a marker for each event´s location
        {% for event in events %}
            location = '{{ event.location }}';
            geocoder.geocode( { 'address': location }, function(results, status) {
                if (status == 'OK') {
                    marker = new google.maps.Marker({
                        position: results[0].geometry.location,
                        map: map
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        {% endfor %}
	}
</script>

{% endblock content %}
