{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Eventos del Sur <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></h1>

    </div>
</div>
<br/>
<a class="btn btn-primary" href="/new">
    Crear evento
    <span style="margin-left: 5px;" class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
</a>
<br/>
<br/>

{% if events.count() > 0 %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table">
            <thead>
                <th>T&iacute;tulo</th>
                <th>Autor</th>
                <th>Fecha</th>
                <th>Acciones</th>
                </thead>
            <tbody>
            {% for event in events %}
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.author }}</td>
                <td>{{ event.date }}</td>
                <td><a class="btn btn-warning" href="/edit/{{ event.key().id() }}">Editar </a></td>
                <td><a class="btn btn-warning" href="/view/{{ event.key().id() }}">Ver </a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>
{% else %}
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 bg-warning warning_mesagge">
            <label>No existen eventos todav&iacute;a.</label>
        </div>
        <div class="col-md-3"></div>

    </div>
</div>

{% endif %}

        <script type="text/javascript">
            window.onload = function() {
                if(!window.location.hash) {
                    window.location = window.location + '#loaded';
                    window.location.reload();
                }
            }
        </script>

{% endblock content %}
